@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  color-scheme: light;
}

/* 默认配色 */
:root {
  --background: #2e2828ff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 清除全局默认边距，让页面能 100% 贴边 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    height: 100%;
}
